<!DOCTYPE html>
<html>
<head>
	<title>Mongoose DashBoard</title>
</head>
<body>
	<h2>Mongoose Information</h2>
	<p>Name: <%=user.name%></p>
	<p>Weight: <%=user.weight%></p>
	<a href="/mongooses/edit/<%=user._id%>">Edit</a><br>
	<a href="/">Go Back</a>
</body>
</html>